body {
  background-color: #fff;
}

header {
  border: none;
  border-spacing: 0;
  border-top-color: rgb(42, 166, 218);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(42, 166, 218);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #eee;
  margin: 0;
  margin-bottom: 10px;
  padding: 14px;
  font-size: 150%;
  font-weight: bold;
  color: #2aa6da;
}

nav {
  border: none;
  border-spacing: 0;
  border-top-color: rgb(42, 166, 218);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(42, 166, 218);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #eee;
  margin: 0;
  padding: 7px;
}
nav a {
  color: #2aa6da;
  text-decoration: none;
  font-weight: bold;
}
nav a :hover {
  text-decoration: underline;
}
nav span.sep {
  color: #ccc;
  margin-left: 7px;
  margin-right: 7px;
}

main {
  margin: 0;
  margin-top: 15px;
  border: none;
  border-top-color: rgb(42, 166, 218);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(42, 166, 218);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #eee;
  padding: 7px;
}

footer {
  font-size: 80%;
  margin: 0;
  margin-top: 15px;
  border: none;
  border-top-color: rgb(42, 166, 218);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(42, 166, 218);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #eee;
  padding: 7px;
}

/*
 * Book selection page.
 */
div.book {
  border: none;
  border-top-color: rgb(42, 166, 218);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(42, 166, 218);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #eee;
  margin: 0;
  padding: 7px;
}

/*
 * Quiz page
 */
div.chapsel {
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(39, 61, 94);
  margin: 0;
  padding-bottom: 7px;
}

ul.chap {
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(39, 61, 94);
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}

div.start {
  padding-top: 7px;
}

/*
 * Quiz page
 */
main.quiz {
  padding:0px;
}
table.question {
  border: none;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

td {
  border: none;
  border-width:0;
  border-top-width: 1px;
  border-top-color: rgb(39, 61, 94);
  border-top-style: solid;
  margin: 0;
  padding: 7px;
}
th {
  margin: 0;
  padding: 7px;
}

th.qname {
  vertical-align: top;
}
a.qname {
  /*margin-right: 0.5em;*/
  font-variant: normal;
  font-weight: bold;
  color: #2aa6da;
  text-decoration: none;
}
a.qname:hover {
  text-decoration: underline;
}

th.qtext {
  vertical-align: top;
  text-align: left;
  font-variant: normal;
  font-weight: normal;
  width: 100%;
}

td.answer {
  text-align: left;
  font-size: 90%
}

td.input {
  text-align: center;
}

td.skip {
  border-top-width: 2px;
  text-align: right;
}

td.submit {
  border-top-width: 2px;
  text-align: left;
}

footer.quiz span {
  margin-right: 10px;
}

footer.quiz span.statstitle {
  color: #2aa6da;
  font-weight: bold;
  display: block;
}

footer.quiz span.prob {
  color: #2aa6da;
  font-weight: bold;
  display: block;
}

footer.quiz progress.prob {
  width: 100%;
  max-width: 340px;
  content: attr(value)'%';
}
